<head>
<style>

H1   {color: red}
H1   {text-align: center}
p    {color: black}
H2   {text-align: center}

body {
  background-image: url();
  background-repeat: no-repeat;
  background-attatchment: fixed;
  background-size: cover;
}

</style>


