<head>
<style>

H1   {color: red}
H1   {text-align: center}
p    {color: black}
H2   {text-align: center}

body {
  background-image: url('https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-repeat: no-repeat;
  background-size: 100% 75%;
}

</style>


